
@font-face {
	font-family: "ProximaNova-Bold";
	font-display: swap;
	src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNova-Regular";
	font-display: swap;
	src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap');
