

/*tml styles*/
html {
    position: relative;
    min-height: 100%;
}

body {
	min-width: 320px;
	font-family: "ProximaNova-Regular";
	background: #fff;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.cs-tml-main-container{
	position: relative;
}

.cs-tml-container-row{
	max-width: 1148px;
    min-width: 290px;
    margin: 0 auto;
}

/*tml styles*/

/*tm3 styles*/

#_cs-tm3-image-repair {
    max-width: 100%;
}

/*tm3 styles*/

/*tm4 styles*/
.cs-tm4-container p {
    font-family: "EBGaramond12-Regular";
    font-size: 22px;
    line-height: 28px;
    /* color: #FFFFFF; */
}

.cs-tm4-map {
    width: 1148px;
    height: 414px;
    background-image: url("../images/mobilebitzseleclocation.png");
}

.cs-tm4-device-connect {
    width: 1148px;
    height: 393px;
    background-image: url("../images/mobilebitzrepairmode.png");
}



/*tm4 styles*/

